<article class="itkcore-event">
  {% if label %}
    <h1>{{ label }}</h1>
  {% endif %}

  {{ content.body }}
  <p>{{ content.field_itkcore_starttime }}</p>
  <p>{{ content.field_itkore_endtime }}</p>
  <p>{{ content.field_itkore_resource }}</p>

  <figure>{{ content.field_itkore_image }}</figure>

</article> <!-- /article #node -->